<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-segment value="all" (ionChange)="segmentChanged(asSegmentChangeEventDetail($event))">
    <ion-segment-button value="all">
      <ion-label>All Places</ion-label>
    </ion-segment-button>
    <ion-segment-button value="bookable">
      <ion-label>Bookable Places</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading &&(!relevantPlaces || relevantPlaces.length<=0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>There are ne bookable places right now, please come back later.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && relevantPlaces.length>0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-item>
            <ion-icon name="map" slot="start"></ion-icon>
            <ion-label>
              <h2>{{relevantPlaces[0].title}}</h2>
              <p>{{relevantPlaces[0].price | currency}}/Night</p>
            </ion-label>
            <ion-button
              [routerLink]="['/','places','tabs','discover',relevantPlaces[0].id]"
              fill="outline"
              slot="end">View
            </ion-button>
          </ion-item>

          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>
              <ion-text>{{relevantPlaces[0].description}}</ion-text>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-virtual-scroll [items]="loadedPlaces" approxItemHeight="50px">
          <ion-item detail *virtualItem="let place">
            <!--          ion-thumbnail adding square wrapper instead ioan-avatar adding rounded wrapper-->
            <ion-thumbnail slot="start">
              <img [src]="place.imageUrl">
            </ion-thumbnail>
            <ion-label>
              <h2>{{place.title}}</h2>
              <p>{{place.description}}</p>
            </ion-label>
            <ion-button
              [routerLink]="['/','places','tabs','discover',place.id]"
              fill="outline"
              slot="end">View
            </ion-button>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
